.clickable-image {
    /* height: auto; */
    transition: transform 0.3s ease; /* Smooth transition on click */
    cursor: pointer;
  }
   
  .plusOneHidden{
    visibility: hidden;
  }
  .clickable-image.clicked {
    transform: rotate(-15deg) scale(1.3) rotate(15deg); /* Adjust the scale and rotation as needed */
    transition: transform 0.3s ease;
  }
  
  .plusOneVisible{
    visibility: visible;
     
    /* transform:  scale(1.3) ;  */
  }